mixin types(typesList = [{tag: "h1", text: "someText"}])
  .types
    each val in typesList
      -
        let {tag, text, tagDescr = ""} = val;

        if (tag === "Body") {
          tagDescr = tag;
          tag = "p";
        } else {
          tagDescr = tag.toUpperCase();
        }

      div(class= `types__${tag}`)  !{`<${tag} class = "types__title">`}#{`${tagDescr}`} !{`<${tag}>`}#{text}
