include ~Blocks/buns/buns
include ~Blocks/comment/comment
include ~Blocks/final-bill/final-bill
include ~Blocks/bullet-list/bullet-list
include ~Blocks/diagram/diagram

mixin room-details(options = {})
  -
    const defaultOptions = require('Blocks/room-details/default-options.json');
    const {
      photos,
      buns,
      impressions,
      comments,
      rules,
      cancel,
      finalBill,
    } = { ...defaultOptions, ...options};

  .room-details__photos
    .room-details__photos-box_1
      img.room-details__photos-img(src= require(`Blocks/room-details/images/${photos[0].src}`) alt= photos[0].alt)
    .room-details__photos-box_2
      img.room-details__photos-img(src= require(`Blocks/room-details/images/${photos[1].src}`) alt= photos[0].alt)
      img.room-details__photos-img(src= require(`Blocks/room-details/images/${photos[2].src}`) alt= photos[0].alt)

  main.room-details__main

    .room-details__buns-and-impressions
      .room-details__buns
        .room-details__title
          h2 #{buns.title}
        +buns(buns.bunsOptions)
      .room-details__impressions
        .room-details__title
          h2 #{impressions.title}
        .room-details__diagram
          +diagram(impressions.diagramOptions)

    .room-details__comments
      .room-details__comments-title
        h2 #{comments.h2Text}
        span #{comments.span} 
      each val in comments.items
        .room-details__comments-comment
          +comment(val)

    .room-details__rules-and-cancel
      .room-details__rules
        .room-details__rules-title
          h2 #{rules.title}
        +bullet-list(rules.bulletListOptions)
      .room-details__cancel
        .room-details__cancel-title
          h2 #{cancel.h2Text}
        p #{cancel.pText}

    .room-details_final-bill
      +final-bill(finalBill)