include ../button/button.pug

mixin header(options = {})
  -
    const defaultOptions = require('Blocks/header/default-options.json');
    const { logo, nav, buttonLogin, buttonRegister, logged, userName } 
      = { ...defaultOptions, ...options};

  .header.js-header
    .header__content
      a.header__logo(href= logo.link)
        img(src= require(`Blocks/header/images/${logo.img}`) alt= `${logo.alt}`)

      .header__menu.js-header__menu
        ul.header__nav
          each val in nav
            li.header__li(class = val.innerUl ? "header__li_submenu " : ""
            class = val.currentPage ? "header__li_current-page" : "")
              if (val.innerUl) 
                span.header__submenu-title.js-header__submenu-title #{val.text}
                ul.header__submenu.js-header__submenu
                  each subVal in val.innerUl
                    li 
                      a.header__link(href= subVal.link) !{subVal.text}
              else
                a.header__link(href=`${val.link}`) #{val.text}

        if (logged) 
          .header__user-name #{userName}
        else 
          .header__buttons
            .header__button-enter
              +button(buttonLogin)
            .header__button-register
              +button(buttonRegister)

      .header__trigger.js-header__trigger
        i.material-icons.matirial-icons_36 menu