include ../button/button.pug

mixin header(options = {})
  - 
    const {
      logo = {
        img: "logo-toxin.svg",
        link: "../landing-page/landing-page.html",
        alt: "Логотип",
      },
      nav = [
        {text: "О нас", link: "/valhalla/feast-table/", currentPage: true},
        {
          text: "Услуги", 
          innerUl:
            [
              { text: "service_1", link: "/valhalla/feast-table/" },
              { text: "service_2", link: "/valhalla/feast-table/" }, 
              { text: "service_3", link: "/valhalla/feast-table/" },
            ],
        },
        { text: "Вакансии", link: "/valhalla/feast-table/"},
        { text: "Новости", link: "/valhalla/feast-table/"},
        {
          text: "Соглашения",
          innerUl: [
            { text: "item-1", link: "/valhalla/feast-table/" },
            { text: "item-2", link: "/valhalla/feast-table/" },
            { text: "item-3", link: "/valhalla/feast-table/" },
            ],
        },
      ],
      buttonLogin = {
        text: "Войти",
        link: "../landing-page/landing-page.html",
        mod: {color: "white", theme: "slim"}
      },
      buttonRegister = {
        text: "Зарегистрироваться",
        link: "../registration-page/registration-page.html",
        mod: {theme: "slim"}
      },

      logged = false,
      //- logged = true,
      userName = "Юлий Цезарь",
    } = options;

  .header
    .header__content
      a.header__logo(href= logo.link)
        img(src= require(`../../../assets/blocks/header/images/${logo.img}`) alt= `${logo.alt}`)

      ul.header__nav
        each val in nav
          li.header__li(class = val.innerUl ? "header__li_submenu " : ""
          class = val.currentPage ? "header__li_current-page" : "")
            if (val.innerUl) 
              span.header__submenu-title #{val.text}
              ul.header__submenu
                each subVal in val.innerUl
                  li 
                    a.header__link(href= subVal.link) !{subVal.text}
            else
              a.header__link(href=`${val.link}`) #{val.text}

      if (logged) 
        .header__user-name #{userName}
      else 
        .header__buttons
          .header__button-enter
            +button(buttonLogin)
          .header__button-register
            +button(buttonRegister)

      .header__trigger
        i.material-icons.matirial-icons_36 menu