include ../rate-button/rate-button.pug

mixin preview(options = {})
  - 
    const {
      number = 888,
      type = "Люкс",
      imagesSrc = [
        "assets/blocks/preview/images/888.png",
        "assets/blocks/preview/images/888.png",
        "assets/blocks/preview/images/888.png",
        "assets/blocks/preview/images/888.png",
      ],
      imgWidth = "270px",
      imgHeight = "151px",
      cost = "9 990",
      stars = 5,
      reviewsNum = 145,
      reviewWord = "Отзывов",
      arrowsHidden = false,
      currency = "₽",
      priceTerm = " в сутки",
      imgAltText = "Картинка номера",
    } = options;

  .preview
    ul.bxslider
      each imgSrc in imagesSrc
        img(alt= imgAltText src= imgSrc width= imgWidth height = imgHeight)
    .preview__information
      .preview__title
        span.preview__room-number #{number}
        span.preview__room-class #{type} 
      .preview__price
        span #{cost}#{currency}
        span #{priceTerm}
      .preview__stars
        +rate-button(stars)
        .preview__reviews
          b #{reviewsNum}
          span #{` ${reviewWord}`} 
