include ../rate-button/rate-button.pug

mixin preview(options = {})
  - 
    const {
      number = 888,
      type = "Люкс",
      imgSrc = "assets/blocks/preview/images/888.png",
      cost = "9 990",
      stars = 5,
      reviewsNum = 145,
      reviewWord = "Отзывов",
      arrowsHidden = false,
      currency = "₽",
      priceTerm = " в сутки",
      imgAltText = "Картинка номера",
    } = options;

  .preview
    //- .preview__image-container
      //- img.preview__image(alt= imgAltText src= imgSrc width= "270px" height = "151px")
      //- if (!arrowsHidden)
      //-   .preview-next
      //-   .preview-prev
      //- .preview-ellipses
      //-   - for (let x = 1; x < 5; x++)
      //-     div(class= `preview-ellipse-${x}`)
    ul.bxslider
      img(alt= imgAltText src= imgSrc width= "270px" height = "151px")
      img(alt= imgAltText src= imgSrc width= "270px" height = "151px")
    .preview__information
      .preview__title
        span.room-number #{number}
        span.room-class #{type} 
      .preview__price
        span #{cost}#{currency}
        span #{priceTerm}
      .preview__stars
        +rate-button(stars)
        .reviews
          b #{reviewsNum}
          span #{` ${reviewWord}`} 
