include ../rate-button/rate-button.pug

mixin preview(options = {})
  - 
    const {
      number = 888,
      type = "Люкс",
      imgSrc = "assets/blocks/preview/images/888.png",
      cost = "9 990",
      stars = 5,
      reviews = 145,
      arrowsHidden = false,
      currency = "₽",
      priceTerm = "сутки",
    } = options;

  .preview
    .preview__image-container
      img.preview__image(alt="Картинка номера" src= imgSrc width= "270px" height = "151px")
      if (!arrowsHidden)
        .preview-next
        .preview-prev
      .preview-ellipses
        - for (let x = 1; x < 5; x++)
          div(class= `preview-ellipse-${x}`)
    .preview__information
      .preview__title
        span.room-number #{number}
        span.room-class #{type} 
      .preview__price
        span #{cost}#{currency}
        span  в #{priceTerm}
      .preview__stars
        +rate-button(stars)
        .reviews
          <b>#{reviews}</b> Отзывов
