include ../rate-button/rate-button.pug

mixin preview(options = {})
  - 
    const {
      number = 888,
      type = "Люкс",
      imagesSrc = [
        "888.jpg",
        "888.jpg",
        "888.jpg",
        "888.jpg",
      ],
      cost = "9 990",
      stars = 5,
      reviewLink = "/valhalla/feast-table/",
      reviews = 145,
      reviewWord = "Отзывов",
      arrowsHidden = false,
      currency = "₽",
      priceTerm = " в сутки",
      imgAltText = "Картинка номера",
    } = options;

  .preview
    ul.bxslider.js-bxslider
      each imgSrc in imagesSrc
        img(alt= imgAltText src= require(`Blocks/preview/images/${imgSrc}`))
    .preview__information
      .preview__title
        span.preview__room-number #{number}
        span.preview__room-class #{type} 
      .preview__price
        span #{cost}#{currency}
        span #{priceTerm}
      .preview__stars
        +rate-button(stars)
        a.preview__reviews-link(href= reviewLink)
          b #{reviews}
          span #{` ${reviewWord}`} 
