include ~Blocks/input/input.pug
include ~Blocks/masked-text-field/masked-text-field.pug
include ~Blocks/date-dropdown/date-dropdown.pug
include ~Blocks/dropdown/dropdown.pug
include ~Blocks/filter-date/filter-date.pug
include ~Blocks/dropdown-guests/dropdown-guests.pug
include ~Blocks/dropdown-rooms/dropdown-rooms.pug
include ~Blocks/expandable-checkbox-list/expandable-checkbox-list.pug
include ~Blocks/rich-checkbox/rich-checkbox.pug
include ~Blocks/checkbox-buttons/checkbox-buttons.pug
include ~Blocks/buns/buns.pug
include ~Blocks/radio-buttons-group/radio-buttons-group.pug
include ~Blocks/toggler/toggler.pug
include ~Blocks/like-button/like-button.pug 
include ~Blocks/rate-button/rate-button.pug   
include ~Blocks/comment/comment.pug  
include ~Blocks/range-slider/range-slider.pug 
include ~Blocks/button/button.pug    
include ~Blocks/button-text/button-text.pug    
include ~Blocks/button-payment/button-payment.pug    
include ~Blocks/pagination/pagination.pug
include ~Blocks/bullet-list/bullet-list.pug

mixin form-elements(options = {})
  -
    const {
      inputEmail = {
        h3Text: "text field",
        spanText: "default",
        inputOptions: {
          attr: {
            placeholder: "Email",
            type: "email",
          },
        },
      },
      inputHover = {
        h3Text: "text field",
        spanText: "hover / focus",
        inputOptions: {
          attr: {value: "This is pretty awesome"},
          mod: {action: "hover"}
        },
      },
      dropdown = {
        h3Text: "dropdown",
        spanText: "default",
        inputOptions: {
          title: "", 
          input: "Сколько гостей"
        }
      },
      maskedTextField = {
        h3Text: "masked text field",
        spanText: "default",
        inputOptions,
      },
      dateDropdown = {
        arrivalTitle: "date dropdown", 
        departureTitle: "date dropdown"
      },
      filterDate,
      inputSubscribe = {
        h3Text: "subscription text field",
        inputOptions: {
          attr: {
            type: "email",
            placeholder: "Email",
          },
          mod: {theme: "email"}
        }
      },
      dropdownRooms1 = {
        h3Text: "Dropdown",
        spanText: "default",
        dropdownOptions: {
          title: "",
        },
      },
      dropdownRooms2 = {
        h3Text: "Dropdown",
        spanText: "expanded",
        dropdownOptions: {
          title: "",
          expanded: true,
        },
      },
      expandableCheckboxList1 = {
        items: [],
        expanded: false,
      },
      expandableCheckboxList2 = {
        expanded: true,
      },
      buns,
      checkboxButtons,
      radioButtons = {
        h3Text: "radio buttons",
        radioButtonsOptions,
      },
      togglers = {
        h3Text: "toggle",
        items: [
          ["get_special_offers_1", "Получать спецпредложения", true],
          ["get_special_offers_2", "Получать спецпредложения"],
        ],
      },
      likeButtons = {
        h3Text: "like button",
        items: [
          {counter: 2},
          {counter: 12, isPushed: true}
        ],
      },
      rateButtons = {
        h3Text: "rate button",
        stars: [4, 5],
      },
      dropdownGuest1 = {
        title: "dropdown",
        expanded: true,
      },
      richCheckboxButtons = {
        h3Text: "rich checkbox buttons",
        items: [
          ["wide_hall", "Широкий коридор", "Ширина коридоров в номере<br />не менее 91 см"],
          ["disabled_helper", "Помощник для инвалидов", "На 1 этаже вас встретит специалист<br/>и проводит до номера"],
        ],
      },
      rangeSlider,
      comments = [
        {
          avatarSrc: "comment-murad.png",
          name: "Мурад Сарафанов",
          term: "5 дней назад", 
          likeButton: {
            counter: 12,
            isPushed: true,
          },
          content: "Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.",
        },
      ],
      buttons = {
        h3Text: "buttons",
        items: [
          {},
          { mod: {theme: "hovered"} },
          { mod: {color: "white"} },
          { mod: {color: "white", theme: "hovered"}, attr: {disabled: true} },
        ],
      },   
      buttonsText = [
        {}, 
        { mod: {theme: "hovered"} },
      ],
      buttonsPayment = [
        { text: "перейти к оплате" },
      ],
      pagination = {
        h3Text: "pagination",
        options: {},
      },
      dropdownGuest2 = {
        title: "dropdown",
        counters: [2, 1, 0],
        expanded: true,
      },
      bulletList = {
        h3Text: "bullet list",
        options: {},
      },
    } = options;

  main.form-elements__main
    .form-elements__column-1
      .form-elements__input
        .form-elements__input-title
          h3 #{inputEmail.h3Text}
          span #{inputEmail.spanText}
        +input(inputEmail.inputOptions)

      .form-elements__input 
        .form-elements__input-title
          h3 #{inputHover.h3Text}
          span #{inputHover.spanText}
        +input(inputHover.inputOptions)

      .form-elements__dropdown
        .form-elements__input-title
          h3 #{dropdown.h3Text}
          span #{dropdown.spanText}
        +dropdown(dropdown.inputOptions)

      .form-elements__masked-text-field
        .form-elements__input-title
          h3 #{maskedTextField.h3Text}
          span #{maskedTextField.spanText}
        +masked-text-field(maskedTextField.inputOptions)

      .form-elements__date-dropdown  
        +date-dropdown(dateDropdown)

      .form-elements__filter
        +filter-date(filterDate)

      .form-elements__input-subscribe
        .form-elements__input-title
          h3 #{inputSubscribe.h3Text}
        .form-elements__input-subscribe-input
        +input(inputSubscribe.inputOptions)

      .form-elements__dropdown-rooms-1
        .form-elements__input-title
          h3 #{dropdownRooms1.h3Text}
          span #{dropdownRooms1.spanText}
        +dropdown-rooms(dropdownRooms1.dropdownOptions)

      .form-elements__dropdown-rooms-2
        .form-elements__input-title
          h3 #{dropdownRooms2.h3Text}
          span #{dropdownRooms2.spanText}
        +dropdown-rooms(dropdownRooms2.dropdownOptions)

      .form-elements__expandable-checkbox-list-1
        +expandable-checkbox-list(expandableCheckboxList1)

      .form-elements__expandable-checkbox-list-2
        +expandable-checkbox-list(expandableCheckboxList2)

      .form-elements__buns
        +buns(buns)

    .form-elements__column-2
      .form-elements__checkbox-buttons
        +checkbox-buttons(checkboxButtons)

      .form-elements__radio-buttons
        .form-elements__title
          h3 #{radioButtons.h3Text}
        +radio-buttons-group(radioButtons.radioButtonsOptions)

      .form-elements__togglers
        .form-elements__title
          h3 #{togglers.h3Text}
        each argsArr in togglers.items
          .form-elements__toggle
            +toggler(...argsArr)

      .form-elements__like-buttons
        .form-elements__title
          h3 #{likeButtons.h3Text}
        .form-elements__flex-container
          each val in likeButtons.items
            +like-button(val)

      .form-elements__rate-buttons
        .form-elements__title
          h3 #{rateButtons.h3Text}
        .form-elements__flex-container
          each val in rateButtons.stars
            +rate-button(val)

      .form-elements__dropdown-guests
        +dropdown-guests(dropdownGuest1)

      .form-elements__rich-checkbox-buttons
        .form-elements__title.form-elements__title_mb_16
          h3 #{richCheckboxButtons.h3Text}
        each argsArr in  richCheckboxButtons.items
          .form-elements__rich-checkbox
            +rich-checkbox(...argsArr)

    .form-elements__column-3
      .form-elements__range-slider
        +range-slider(rangeSlider)

      .form-elements__buttons-container
        .form-elements__title 
          h3 #{buttons.h3Text}
        .form-elements__buttons
          each val in buttons.items
            +button(val)
        .form-elements__buttons-text
          each val in buttonsText
            +button-text(val)
        .form-elements__button-payment
          each val in buttonsPayment
            +button-payment(val)

      .form-elements__pagination
        .form-elements__title 
          h3 #{pagination.h3Text}
        +pagination(pagination.options)

      .form-elements__dropdown-guests-2
        +dropdown-guests(dropdownGuest2)

      .form-elements__bullet-list
        .form-elements__title
          h3 #{bulletList.h3Text}
        +bullet-list(bulletList.options)

    .form-elements__comments
      each val in comments
        +comment(val)