mixin dropdown(options = {})
  -  
    const {
      name = "Имярек",
      title = "dropdown", 
      input = "Щелкни на плюсе или на минусе...",
      items = [
        {
          name: "item1",
          text: "item1 text",
          counter: 1,
        },
        {
          name: "item2",
          text: "item2 text",
          counter: 2,
        },
      ],

      //- Добавим возможность непосредственно задавать к-во элементов, напр. counters = [1, 12]
      counters = items.map((elem) => elem.counter),

      showButtons = true,
      showReset = true,
      expanded = false,
      buttonResetText = "Очистить",
      buttonApplyText = "Применить",
    } = options;

    items.map((elem, i) => elem.counter = counters[i]);

    let inputClass = "";
    let containerClass = "";

    if (expanded === true) {
      inputClass = "dropdown__input_expanded";
      containerClass = "dropdown__items-container_expanded";
    }

  .dropdown(data-name= name)
    .dropdown__title #{title}
    .dropdown__input(class= inputClass) #{input}
    .dropdown__items-container(class= containerClass)
      each elem in items
        - const {text, counter} = elem;
        .dropdown__item
          span.dropdown__item-name #{text}
          .dropdown__trigger
            .dropdown__minus -
            span.dropdown__counter  #{counter} 
            .dropdown__plus +
      if (showButtons)
        .dropdown__buttons
          .dropdown__button-reset(hidden= !showReset) #{buttonResetText}                   
          .dropdown__button-apply #{buttonApplyText}
