//- lists example
- 
    var expandableList = {
        title: "expandable checkbox list",
        content: {
            "breakfast": "Завтрак",
            "desk": "Письменный стол",
            "highchair": "Стул для кормления",
            "crib": "Кроватка",
            "tv_1": "Телевизор",
            "shampoo_1": "Шампунь",    
            "tv_2": "Телевизор",
            "shampoo_2": "Шампунь",
        },
        checked: ["desk", "highchair", "crib"],
    }

    var checkboxList = {
        title: "checkbox buttons",
        content: {
            "smoking": "Можно курить",
            "pets": "Можно с питомцами",
            "guests": "Можно пригласить гостей <br />(до 10 человек)" 
        },
        checked: ["pets", "guests"],
    }


mixin checkbox(name, value, checked)
    - let isChecked = checked === "checked";
    div.checkbox
        input.checkbox__input(type="checkbox" id= name name= name checked= isChecked) 
        label.checkbox__label(for= name) !{value}  


mixin ulCheckboxContainer(list, expanded)
    - let isHidden = expanded !== true;
    ul.checkbox-list(hidden= isHidden)
        each val, key in list.content
            li.checkbox-list__li
                - let checked = list.checked.includes(key) ? "checked" : "";
                +checkbox(key, val, checked)

mixin expandable-checkbox-list(list, expanded)
    - let className = (expanded === true) ? "expandable-checkbox-list__title_expanded" : ""; 
    .expandable-checkbox-list
        .expandable-checkbox-list__title(class= `${className}`) #{list.title} 
        +ulCheckboxContainer(list, expanded)

mixin checkboxButtons(list)
    .checkbox-buttons
        .checkbox-buttons__title #{list.title} 
        +ulCheckboxContainer(list, true)

mixin rich-checkbox(name, value, description, checked)
    - let isChecked = checked === "checked";
    div.checkbox
        input.rich-checkbox__input(type="checkbox" id= name name= name checked= isChecked) 
        label.rich-checkbox__label(for= name) !{value}  
    span.rich-checkbox__span !{description}