include ../like-button/like-button.pug

mixin comment(options = {})
  - 
    const {
      avatarSrc = "comment-murad.png",
      name = "Ирина Иванов",
      term = "600 лет назад", 
      likeButton = {
        counter: 9999,
        isPushed: true,
      },
      content = "Где я? Кто я? Куда я? Я отрезаю от себя части-всё это бьётся в бессилии об пол...",
    } = options;

  .comment
    img.comment__avatar(
      src= require(`Blocks/comment/images/${avatarSrc}`) 
      width="48" 
      height="48"
      alt= "Аватар"
    )
    span.comment__name #{name}
    span.comment__term #{term}
    .comment__like-button
      +like-button(likeButton)
    p.comment__content #{content}

