include ../like-button/like-button

mixin comment(options = {})
  -
    const defaultOptions = require('Blocks/comment/default-options.json');
    const { 
      avatarSrc,
      name,
      term,
      likeButton,
      content,
        } = { ...defaultOptions, ...options};

  .comment
    img.comment__avatar(
      src= require(`Blocks/comment/images/${avatarSrc}`) 
      width="48" 
      height="48"
      alt= "Аватар"
    )
    span.comment__name #{name}
    span.comment__term #{term}
    .comment__like-button
      +like-button(likeButton)
    p.comment__content #{content}

