mixin date-dropdown(options = {})
  - 
    const {
      arrivalTitle = "Прибытие",
      arrivalName = "arrival",
      departureTitle = "Выезд",
      departureName = "departure",
    } = options;

  .date-dropdown
    .date-dropdown__item
      h3 !{arrivalTitle}
      .date-dropdown__input-container
        input.date-dropdown__input(
          type="text" readonly 
          autocomplete="off" value="ДД.ММ.ГГГГ." 
          data-id="arrival" data-name= arrivalName 
          name= arrivalName
          placeholder= 'ДД.ММ.ГГГГ.'
          )

    .date-dropdown__item
      h3 !{departureTitle}
      .date-dropdown__input-container
        input.date-dropdown__input(
          type="text" readonly
          autocomplete= "off" value="ДД.ММ.ГГГГ." 
          data-id="departure" data-name= departureName 
          name= departureName
          placeholder= 'ДД.ММ.ГГГГ.'
          tabindex= '-1'
          )