extends ../../assets/blocks/template/template.pug
block variables
    - var titleName = 'From Elements'

    - 
        var list1 = {
            "breakfast": "Завтрак",
            "desk": "Письменный стол",
            "highchair": "Стул для кормления",
            "crib": "Кроватка",
            "tv_1": "Телевизор",
            "shampoo_1": "Шампунь",    
            "tv_2": "Телевизор",
            "shampoo_2": "Шампунь",
        }

    -
        var list2 = {
            "smoking": "Можно курить",
            "pets": "Можно с питомцами",
            "guests": "Можно пригласить гостей (до 10 человек)" 
        }

mixin counter(value, dataItem)
    .dropdown__trigger
        if (value) 
            .dropdown__circle(data-direction = "-") -
        else 
            .dropdown__circle(data-direction = "-").dropdown__circle_disabled                                                                                                                                                            -
        span(data-item= dataItem)= value
        .dropdown__circle(data-direction = "+") +


mixin radioButton(id, name, value, checked)
    if (checked === "checked")
        input.radio-buttons__input(type="radio" id= id name= name checked)
    else
        input.radio-buttons__input(type="radio" id= id name= name)   

    label.radio-buttons__label(for= id) !{value}

mixin checkbox(id, value, className, checked)
    div(class=`${className}`)
        if (checked === "checked")
            input(class=`${className}__input` type="checkbox" id= id name= id checked)
        else 
            input(class=`${className}__input` type="checkbox" id= id name= id)        
        label(class=`${className}__label` for= id) !{value}  

mixin rich-checkbox(id, value, discription, classList, checked)
    +checkbox(id, value, "rich-checkbox", checked)
    span.rich-checkbox__span !{discription}

mixin ulCheckboxContainer(list, className)
    ul(class= className)
        each val, key in list
            li(class= `${className}__li`)
                +checkbox(key, val, "checkbox")

mixin rateButton(starsNumDeafault)
    - var n = 0;
    .rate-button(data-stars_num= starsNumDeafault)
        while (++n < 6)
            if (n <= starsNumDeafault)
                .rate-button__star_checked(data-star= n)
            else
                .rate-button__star(data-star= n)


block content
    main
        .first-column
            .input-example 
                .input-example__title
                    h3 text field
                    span default
                input.input(type="text" placeholder="Email")

            .input-example  
                .input-example__title
                    h3 text field
                    span hover / focus
                input.input(type="text" class="hover" value="This is pretty awesome")

            .input-example  
                .input-example__title
                    h3 dropdown
                    span default
                select.input(class=["select"])
                    option(selected) Сколько гостей 
                    option 1 гость
                    option 2 гостя
                    option 3 гостя


            .input-example.masket-text-field
                .input-example__title
                    h3 masked text field
                    span default
                input.input(type="date")

            br
            .date-dropdown-example  
                .wrapper
                    .input-example__title
                        h3 date dropdown
                    select.form__date-dropdown(class=["select"])
                        option(selected) ДД.ММ.ГГГГ
                        option 19.08.2019
                        option 20.08.2019
                        option 21.08.2019

                .wrapper       
                    .input-example__title
                        h3 date dropdown          
                    select.form__date-dropdown(class=["select"])
                        option ДД.ММ.ГГГГ
                        option(selected) 19.08.2019
                        option 20.08.2019
                        option 21.08.2019

            .input-example_filter
                .input-example__title
                    h3 filter date dropdown
                select.form__filter-date.select
                    option(selected) 19 авг - 23 авг  

            .input-example_email
                .input-example__title
                    h3 subscription text field
                input.input_email(type="email" placeholder="Email")

            .input-example_dropdown
                .input-example__title
                    h3 dropdown
                    span default
                input.form__dropdown(type="text" value="2 спальни, 2 кровати...")



            .input-example_dropdown_expanded
                .input-example__title
                    h3 dropdown
                    span expanded
                .dropdown(data-name="rooms").dropdown_expanded.dropdown_rooms
                    .dropdown__input.dropdown__input_expanded
                        span 2 спальни, 2 кровати...
                    .dropdown__container.dropdown__container_expanded
                        .dropdown__items
                            span(data-item = "bedrooms") Cпальни 
                            span(data-item = "beds") Кровати
                            span(data-item = "bathrooms") Ванные комнаты
                        .dropdown__counters
                            +counter(2, "rooms_num")
                            +counter(2, "beds_num")
                            +counter(0, "bathrooms_num")

            .example__expandable-checkbox-list
                .expandable-checkbox-list
                    .expandable-checkbox-list__title expandable checkbox list
                        .expandable-checkbox-list__toggler

            .example__expandable-checkbox-list_expanded
                .expandable-checkbox-list
                    .expandable-checkbox-list__title
                        h3 expandable checkbox list
                        .expandable-checkbox-list__toggler.expanded
                    +ulCheckboxContainer(list1, "checkbox-list")


            .example-buns
                .buns
                    .buns__img_smile
                    .buns__title Комфорт
                    .buns__description Шумопоглощающие стены
                .example-buns__blank
                .buns
                    .buns__img_city
                    .buns__title Удобство
                    .buns__description Окно в каждой из спален

        .second-column
            .example-checkbox-buttons
                .example-checkbox-buttons__title
                    h3 checkbox buttons
                +ulCheckboxContainer(list2, "checkbox-buttons")

            .example-radio-buttons
                .example-radio-buttons__title
                    h3 radio buttons
                .radio-buttons
                    +radioButton("man", "sex", "Мужчина", "checked")
                    +radioButton("woman", "sex", "Женщина")

            .example-toggle
                .example-toggle__title
                    h3 toggle
                +checkbox("get_special_offers", "Получать спецпредложения", "toggler", "checked") 
                +checkbox("get_special_offers_1", "Получать спецпредложения", "toggler") 

            .example-like-buttons
                .example-like-buttons__title
                    h3 like button
                .example-like-buttons__container
                    button.like-button
                        span.like-button__counter 2
                    button.like-button.like-button_pushed
                        span.like-button__counter 12

            .example-rate-buttons
                .example-rate-buttons__title
                    h3 rate button
                .example-rate-buttons__container
                    +rateButton(4)
                    +rateButton(5)

            .example-dropdown-guests
                .dropdown(data-name="guests").dropdown_expanded.dropdown_guests
                    .dropdown__title dropdown
                    .dropdown__input.dropdown__input_expanded
                        span Сколько гостей
                    .dropdown__container.dropdown__container_expanded
                        .dropdown__items
                            span(data-item = "adults") Взрослые 
                            span(data-item = "kids") Дети
                            span(data-item = "babies") Младенцы
                        .dropdown__counters
                            +counter(0, "adults_num")
                            +counter(0, "kids_num")
                            +counter(0, "babies_num")
                        .dropdown__buttons
                            .dropdown__button-reset(hidden) Очистить                      
                            .dropdown__button-apply Применить

            .example-rich-checkbox-buttons
                .rich-checkbox__title   rich checkbox buttons
                +rich-checkbox("wide_hall", "Широкий коридор", "Ширина коридоров в номере<br />не менее 91 см")
                +rich-checkbox("disabled_helper", "Помощник для инвалидов", "На 1 этаже вас встретит специалист<br/>и проводит до номера")

            .example-reviews
                .review
                    img.review__avatar(src="/assets/images/image.png")
                    span.review__name Мурад Сарафанов
                    span.review__term 5 дней назад
                    .review__like-button
                        button.like-button.like-button_pushed
                            span.like-button__counter 12
                    p.review__content Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шупомодавляющие. Выкрикивал комплименты повару - никто не жаловался из соседей.

        .third-column
            .range-slider
                .range-slider__title range slider
                .range-slider__range 5 000&#8381 - 10 000&#8381
                .range-slider__roller-container
                    .range-slider__roller
                        .range-slider__roller-left
                        .range-slider__roller-right
